{% extends "base/base.html" %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
<div class="text-center">
    <h1 class="display-4">Área de administración</h1>
    <p>Listado Usuarios</p>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>IsAdmin</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.password }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.isAdmin }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}